/* General Styles */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #212121, #0d0d0d);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

/* Heading */
h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Buttons */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background: #38393b;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.button:hover {
    background: linear-gradient(#066264, #04484a);
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}
